doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        each data in tempData
            ul 
                li #{data.year}
                li #{data.month}
                li #{data.day}
                li #{data.temperature}
                li #{data.humidity}
	script(type='text/javascript', src='/lib/angular/angular.min.js')
